.footer a:hover {
  text-decoration: underline;
}

.footer i {
  color: white;
  margin-right: 8px;
}

@media (max-width: 576px) {
  .footer h5 {
    font-size: 1.1rem;
  }

  .footer p, .footer li, .footer a {
    font-size: 0.9rem;
  }
}
